[submodule "renik"]
	path = renik
	url = https://github.com/V-Sekai/renik
	branch = master
[submodule "lasso"]
	path = lasso
	url = https://github.com/V-Sekai/lasso
	branch = main
[submodule "speech"]
	path = speech
	url = https://github.com/V-Sekai/godot_speech.git
	branch = master
[submodule "realtime_retarget"]
	path = realtime_retarget
	url = https://github.com/V-Sekai/realtime_retarget.git
	branch = main
[submodule "many_bone_ik"]
	path = many_bone_ik
	url = https://github.com/V-Sekai/many_bone_ik.git