[submodule "godot"]
	path = godot
	url = https://github.com/V-Sekai/godot.git
[submodule "https://github.com/V-Sekai/godot-modules-groups.git"]
	path = https://github.com/V-Sekai/godot-modules-groups.git
	url = modules
